.chat {
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 80vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
}

.chat__chat-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chat__chat-form {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
}

.chat__chat-form-input {
  flex: 1;
}

.chat__chat-form-btn {
  width: 100px;
}
