/* .main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__main-component {
  width: 300px;
}

.main__logo {
  width: 100%;
}

.main__logo > img {
  width: 100%;
}

.main__start-btn {
  text-align: center;
} */

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.main__background-video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main__background-video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.main__background-video-wrapper:after {
  content: '';
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.main__main-component-wrapper {
  z-index: 10000;
}

.main__main-component__name {
  font-size: 5rem;
  font-weight: 100;
  margin-bottom: 30px;
}

.main__main-component__des {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 30px;
}
