.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__main-component {
  width: 300px;
}

.main__logo {
  width: 100%;
}

.main__logo > img {
  width: 100%;
}

.main__start-btn {
  text-align: center;
}
