.signup {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup__main-component {
  min-width: 300px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.signup__input {
  height: 100px;
}
